/*======= index.html =======*/

#page1 .line-ver {background-position: 488px 0%; margin: 90px 0 0 0;}

#page1 .col-1 {width: 433px; padding: 0 31px 0 25px; margin: -38px 0 0 0;}
#page1 .col-2 {width: 249px; padding: 0 20px 0 31px; margin: -38px 0 0 0;}

/*======= index-1.html =======*/

#page2 .line-ver {background-position: 488px 0%; margin: 53px 0 0 0;}

#page2 .col-1 {width: 433px; padding: 0 31px 0 25px; margin: -38px 0 0 0;}
#page2 .col-2 {width: 249px; padding: 0 20px 0 31px; margin: -38px 0 0 0;}

/*======= index-2.html =======*/

#page3 .line-ver {background-position: 488px 0%; margin: 90px 0 0 0;}

#page3 .col-1 {width: 433px; padding: 0 31px 0 25px; margin: -38px 0 0 0;}
#page3 .col-2 {width: 249px; padding: 0 20px 0 31px; margin: -38px 0 0 0;}

/*======= index-3.html =======*/

#page4 .line-ver {background-position: 488px 0%; margin: 60px 0 0 0;}

#page4 .col-1 {width: 433px; padding: 0 31px 0 25px; margin: -38px 0 0 0;}
#page4 .col-2 {width: 249px; padding: 0 20px 0 31px; margin: -38px 0 0 0;}

/*======= index-4.html =======*/

#page5 .line-ver {background-position: 488px 0%; margin: 60px 0 0 0;}

#page5 .col-1 {width: 433px; padding: 0 31px 0 25px; margin: -38px 0 0 0;}
#page5 .col-2 {width: 249px; padding: 0 20px 0 31px; margin: -38px 0 0 0;}

/*======= index-5.html =======*/

#page6 .line-ver {background-position: 488px 0%; margin: 53px 0 0 0;}

#page6 .col-1 {width: 433px; padding: 0 31px 0 25px; margin: -38px 0 0 0;}
#page6 .col-2 {width: 249px; padding: 0 20px 0 31px; margin: -38px 0 0 0;}

/*======= index-6.html =======*/

#page7 .line-ver {background-position: 488px 0%; margin: 60px 0 0 0;}

#page7 .col-1 {width: 433px; padding: 0 31px 0 25px; margin: -38px 0 0 0;}
#page7 .col-2 {width: 249px; padding: 0 20px 0 31px; margin: -38px 0 0 0;}